<header>
  <!-- Hamburger gomb mobil nézetre -->
  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <!-- Navigációs lista -->
  <mat-nav-list [class.open]="menuOpen">
    <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closeMenu()">
      <span matListItemTitle>Kezdőlap</span>
    </a>
    <a mat-list-item routerLink="/tracks" routerLinkActive="active-list-item" (click)="closeMenu()">
      <span matListItemTitle>Pályák</span>
    </a>
    <a mat-list-item routerLink="/drivers" routerLinkActive="active-list-item" (click)="closeMenu()">
      <span matListItemTitle>Pilóták</span>
    </a>
    <a mat-list-item routerLink="/teams" routerLinkActive="active-list-item" (click)="closeMenu()">
      <span matListItemTitle>Csapatok</span>
    </a>
    <a mat-list-item routerLink="/blogs" routerLinkActive="active-list-item" (click)="closeMenu()">
      <span matListItemTitle>Blogok</span>
    </a>

    <!-- Csak ha nincs bejelentkezve -->
    <a *ngIf="!isLoggedIn" mat-list-item routerLink="/register" routerLinkActive="active-list-item" (click)="closeMenu()">
      <span matListItemTitle>Regisztráció</span>
    </a>
    <a *ngIf="!isLoggedIn" mat-list-item routerLink="/login" routerLinkActive="active-list-item" (click)="closeMenu()">
      <span matListItemTitle>Bejelentkezés</span>
    </a>

    <!-- Csak ha be van jelentkezve -->
    <a *ngIf="isLoggedIn" mat-list-item (click)="logout(); closeMenu()">
      <span matListItemTitle>Kilépés</span>
    </a>
  </mat-nav-list>
</header>
